<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    {{ 'component-mohabTest.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'script_product_modal.js' | asset_url }}" defer></script>
    {% comment %} Fonts {% endcomment %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&display=swap"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">

    {{ content_for_header }}
    {% comment %} Custom Css loaded from settings_schema {% endcomment %}
    <style>
        :root {
        {% if settings.body_font.family %}
          --body-font: {{ settings.body_font.family | json}}, sans-serif;
        {% else %}
          --body-font: 'Assistant', sans-serif;
        {% endif %}
      }
    </style>
  </head>
  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>
    {% render 'product_modal' -%}
  </body>
</html>
