{% comment %}
  Custom 6-product grid section
{% endcomment %}
<section class="custom-product-grid" id="productGridSpecial">
  <p class="product-grid-title">{{ section.settings.title }}</p>
  <div class="product-grid">
    {% for block in section.blocks %}
    {% if block.settings.product != blank %}
    {% comment %} {% for p in collections.all.products %} {% endcomment %}
      {% assign product = block.settings.product %}
      {% comment %} {% assign product = p %} {% endcomment %}
      <div class="product-image-container">
        {% if product.featured_image %}
          <img
            src="{{ product.featured_image | image_url }}"
            alt="{{ product.title }}"
            loading="lazy"
            class="product-image"
            width="50%"
            height="100%"
          >
          <!-- floating button -->
          <button 
  class="open-modal-btn" 
  data-product-handle="{{ product.handle }}"
  style="{{ 'left: ' | append: block.settings.x_pos | append: '%' | append: '; top: ' | append: block.settings.y_pos | append: '%' }}">
  <img src="{{ "icon_plus.svg" | asset_url }}" alt="add to cart" width="20px" height="20px">

</button>

        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% comment %} Render the product modal {% endcomment %}
{% render 'product_modal' %}



{% schema %}
{
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Tisso vison in the wild"
    }
  ],

  "name": "6 Product Grid",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        },
        { "type": "range", "id": "x_pos", "min": 0, "max": 100, "step": 1, "unit": "%", "label": "Button X Position", "default": 50 },
        { "type": "range", "id": "y_pos", "min": 0, "max": 100, "step": 1, "unit": "%", "label": "Button Y Position", "default": 50 }
      ]
    }
  ],
  "presets": [
    {
      "name": "6 Product Grid",
      "category": "Products"
    }
  ]
}
{% endschema %}
